<div>
 
  <div class="card" style="width: 50%; margin: 30px auto">
    <div class="card-body">
      <h5 class="card-title">Movie Details</h5>
      <p class="card-text">Click on links below to get Movie details</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a [routerLink]="['/details/tt0175142']">Scary Movie</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/details/tt0257106']">Scary Movie 2</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/details/tt0306047']">Scary Movie 3</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/details/tt0362120']">Scary Movie 4</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/details/tt0362XXX']">Scary Movie 5</a>
      </li>
    </ul>
  </div>
 
</div>