<form [formGroup]="employeeForm" (ngSubmit)="addEmployee()" class="form-horizontal">
    <div class="container">
        <div class="form-group" [ngClass]="{'has-error':employeeForm.get('fullName').error}">
            <label>Full Name: </label>
            <input id="fullName" formControlName="fullName" class="form-control" type="text">
            <span *ngIf="employeeForm.get('fullName').errors">
                <span *ngIf="employeeForm.get('fullName').errors.required">Full name is required.</span>
            <span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength">Minimum
                    2 characer required.</span>
            </span>
        </div>
        <div class="row">
            <label for="fullName">Email : </label>
            <input id="email" formControlName="email" class="form-control" type="text">
        </div>

        <div formGroupName="skills" class="row">
            <label>Skills:</label>
            <div class="form-group">
                <input type="text" class="form-control" id="skillName" formControlName="skillName" placeholder="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="experience" formControlName="experience" placeholder="experience(in Years)">
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Proficiency:</label>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input id="proficiency" type="radio" value="Beginner" formControlName="proficiency">Beginner
                    </label>
                    <label class="radio-inline">
                        <input id="proficiency" type="radio" value="Intermediate"
                            formControlName="proficiency">Intermediate
                    </label>
                    <label class="radio-inline">
                        <input id="proficiency" type="radio" value="expert" formControlName="proficiency">Expert
                    </label>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary">Submit</button>

                <button type="button" (click)="loadEmployeeData();" class="btn btn-primary">Load Data</button>
            </div>
        </div>
    </div>
</form>